@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    padding: 4px;
    margin: 0px;
    
} */
.bgImg{
    background-image: url('/public/bg.svg');
}